<h1><%= @entry["title"] %></h1>

<ul>
  <li><%= @entry["created_at"] %></li>
  <li><%= @entry["description"] %></li>
</ul>

<p><a href="/places/<%= @place["id"]%>">Back to <%= @place["name"]%></a></p>